
.answer-correct {
    background-color: #CCFFDD !important;
}

.answer-incorrect {
    background-color: #FFCCDD !important;
}

#jqt input[type="radio"],
#jqt input[type="checkbox"] {
    -webkit-transform: scale(0.8,0.8);
}